<!-- Views/Analytics/BestItems.cshtml -->
@model IEnumerable<Lab7.Models.ViewModels.BestItemViewModel>

<h2>Best Selling Items</h2>

<table class="table">
    <tr>
        <th>Item Name</th>
        <th>Total Quantity Ordered</th>
        <th>Total Revenue</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Item.ItemName</td>
            <td>@item.TotalQuantity</td>
            <td>@item.OrderCount</td>
        </tr>
    }
</table>